@use "@/assets/styles/variables.scss" as *;

body {
  margin: 0;
  font-family: $main-font;
  color: $text-color;
  background-color: $secondary-color;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    text-decoration: underline;
  }
}