@use '@/assets/styles/fonts.scss';
@use "@/assets/styles/variables.scss" as *;

body {
  margin: 0;
  font-family: $main-font;
  color: $text-color;
  background-color: $secondary-color;
  box-sizing: border-box;
}

span, div, p {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $text-color;
}

h1, h2, h3 {
  font-family: $heading-font;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 600;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

.small {
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (min-width: $breakpoint-tablet) {
  h1 { font-size: 2rem; }     
  h2 { font-size: 1.5rem; }       
  h3 { font-size: 1.25rem; }     
  p  { font-size: 1.0625rem; }  
}

@media (min-width: $breakpoint-desktop) {
  h1 { font-size: 2.5rem; }       
  h2 { font-size: 2rem; }    
  h3 { font-size: 1.5rem; }    
  p  { font-size: 1.125rem; }   
}