// Colors
$primary-color: #4b7c53;
$primary-color-light: #70af7a;
$secondary-color: #f6fff7;
$third-color: #98d1a2;
$dark-grey-color: #707070;
$light-grey-color: #c7c9c7;
$white: #ffffff;
$text-color: #201f20;

//shadows
$shadow: 0 4px 18px 0 $light-grey-color;

// Fonts
$main-font: 'Inter', sans-serif;
$heading-font: 'Poppins', sans-serif;

//breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;