// Colors
$primary-color: #70af7a;
$secondary-color: #f6fff7;
$dark-grey-color: #838383;
$light-grey-color: #c7c9c7;
$white: #ffffff;
$text-color: #201f20;

// Fonts
$main-font: 'Inter', sans-serif;
$heading-font: 'Poppins', sans-serif;